.search-bar-container {
    display: flex;
    background-color: #fff;
    width: 100%;
}

.back-button {
    width: 50px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.back-button:hover {
    background-color: #ddd;
}

.search-input {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.search-input:focus {
    border-color: #007bff;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input:focus::placeholder {
    color: transparent;
}

.search-list {
    height: calc(100vh - 104px);
    overflow-y: auto;
}

.search-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.img-box {
    position: relative;
    width: 55px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.username {
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}

.search-box:hover {
    background: #f5f5f5;
}
